name: Build luci-theme-4lpha apk

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Clone luci-theme-4lpha (branch Alpha-OS-4.0-Beta-(for-OpenWrt-24.xx))
        run: |
          git clone -b "main" https://github.com/derisamedia/luci-theme-alpha-reborn.git luci-theme-4lpha
          ls -R luci-theme-4lpha

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install build-essential clang flex bison g++ gawk \
            gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev \
            python3-setuptools rsync swig unzip zlib1g-dev file wget

      - name: Download OpenWrt SDK (x86_64, OpenWrt 23.05.2)
        run: |
          wget https://downloads.openwrt.org/releases/25.12.0-rc2/targets/x86/64/openwrt-sdk-25.12.0-rc2-x86-64_gcc-14.3.0_musl.Linux-x86_64.tar.zst
          tar -xf openwrt-sdk-*.tar.xz
          SDK_DIR=$(find . -maxdepth 1 -type d -name "openwrt-sdk-*")
          mv "$SDK_DIR" openwrt-sdk

      - name: Copy luci-theme-4lpha
        run: |
          mkdir -p openwrt-sdk/package/custom
          cp -r luci-theme-4lpha openwrt-sdk/package/custom/

      - name: Build luci-theme-4lpha
        run: |
          cd openwrt-sdk
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          make defconfig
          make package/custom/luci-theme-4lpha/compile V=s

      - name: Upload apk
        uses: actions/upload-artifact@v4
        with:
          name: luci-theme-4lpha
          path: openwrt-sdk/bin/packages/**/*.apk
